.example-card {
    background-color: white;
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
    
  .center-content{
    text-align: -webkit-center;
    padding-top: 350px;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 99%;
    padding-top: 0px;
  }
  
  .mat-button{
    margin-top: px;
    width: 100%;
    color: #ffffff;
    height: 40px;
    background-color: #3F51B5;
  }
  
  .marginlogin{
    margin-top: 15px;
  }