<!-- Login -->
<div class="center-content">

  <mat-card class="example-card">
    
    <mat-card-content>

      <mat-tab-group>

        <mat-tab label="Login">
          <mat-form-field class="example-full-width marginlogin">
            <input type="email" matInput placeholder="Email" value="" >
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Password" >
            <mat-icon matSuffix>vpn_key</mat-icon>
          </mat-form-field>

          <button class="mat-button" mat-button style="color: white;"  >Login</button>

        </mat-tab>
        
        <mat-tab label="Register">

          <mat-form-field class="example-full-width marginlogin">
            <input type="email" matInput placeholder="Email" value="" >
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Password" >
            <mat-icon matSuffix>vpn_key</mat-icon>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Register Password" >
            <mat-icon matSuffix>vpn_key</mat-icon>
          </mat-form-field>

          <button class="mat-button" mat-button style="color: white;"  >Register</button>
          
        </mat-tab>

      </mat-tab-group>      
      
    </mat-card-content>
    
  </mat-card>

</div>