/* Navbar */

.container {
  margin: 48px 35%;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
.navbar {
  background-color: rgb(245, 248, 248);
  padding: 30px 50px;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  margin-bottom: 50px;
}
 
.link {
  margin-right: 32px;
}
 
.link {
  color: rgb(13, 13, 13);
  text-decoration: none;
  font-size: 14pt;
  font-weight: bold;
}

/* Table */
.tabela{
  width: 95%;
  padding-left: 2%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}