<!-- Navbar -->

<div class="navbar">
    <a class="link" href="/home">Home</a>
    <a class="link" href="/fundos">Fundos</a>
    <a class="link" href="/movimentos">Movimentos</a>
</div>
  
<!-- Fundos Content -->

<br>

<div style="padding-left: 40px; padding-top: 10px;" class="f1">

    <h1>Depositar Fundos</h1>
    <mat-form-field floatLabel="always">
        <mat-label>Amount</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0">
        <span matTextPrefix>$&nbsp;</span>
    </mat-form-field>

</div>

<br>

<div style="padding-left: 40px;" class="f1">

    <h1>Retirar Fundos</h1>
    <mat-form-field floatLabel="always">
        <mat-label>Amount</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0">
        <span matTextPrefix>$&nbsp;</span>
    </mat-form-field>

</div>
